$primary:  #96C5A4
$light-grey: #E0E0E0

@import "bootstrap-sprockets"
@import "bootstrap"

.wrapper
	margin: 0 auto
	max-width: 90%
	width: 960px

.hidden
	display: none

@import "static_pages"
@import "products"